.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.navbar {
  box-shadow: 0 0 10px #00000022;
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.navbar div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar .top {
  flex: 2;
  border-bottom: 1px solid var(--color-neutro20);
}

.navbar .top img {
  width: 140px;
}

.navbar .middle {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 24px;
  gap: 30px;
  flex: 12;
}

.navbar .middle .option {
  display: flex;
  justify-content: start;
  gap: 14px;
  font-size: 20px;
  color: var(--color-neutro60);
  font-weight: 480;
}

.navbar .middle .option img {
  width: 24px;
}

.navbar .bottom {
  display: flex;
  justify-content: start;
  border-top: 1px solid var(--color-neutro20);
  flex: 2;

  padding: 24px;
  align-items: start;
}

.navbar .bottom .logout {
  align-items: center;
  display: flex;
  justify-content: start;
  gap: 14px;
  font-size: 20px;
  color: var(--color-neutro60);
  font-weight: 480;
}

.navbar .bottom img {
  width: 24px;
  height: 24px;
}

.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
  overflow-y: auto;
}

.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.list-title {
  font-family: var(--font-secundaria);
  font-size: 28px;
  font-weight: 600;
  color: var(--color-primaria100);
}

.list-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.search-input-wrapper {
  height: 48px;
  width: 370px;
  display: flex;
  align-items: center;
  background-color: var(--color-white);
  border: 1px solid var(--color-neutro40);
  border-radius: 12px;
  padding: 10px;
}

.search-input-wrapper input {
  border: none;
  outline: none;
  width: 100%;
  font-family: var(--font-primaria);
  font-size: 14px;
  color: var(--color-neutro100);
}

.search-input-wrapper input::placeholder {
  color: var(--color-neutro60);
}

.btn-primary {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--color-primaria100);
  color: var(--color-white);
  border: none;
  border-radius: 8px;
  font-family: var(--font-secundaria);
  font-weight: 500;
  display: flex;
  width: 135px;
  height: 48px;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.users-table {
  grid-template-columns: 100px 2fr 2fr 1.5fr 1fr 120px !important;
}
